@model List<WeReview.Models.GitHubLine>

@{
    int fileId = Model[0].FileId;
}

@if (Model.Count == 0)
{
    <p>Not a supported file type.</p>
}
else
{
    <div id="floating-form">
        <div>
            <textarea id="comment-text" rows="4" cols="50" required placeholder="Enter your comments"></textarea>
        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="submitChanges(true)">Approve Selected</button>
        </div>
        <div>
            <button type="button" class="btn btn-danger" onclick="submitChanges(false)">Reject Selected</button>
        </div>
    </div>

    @for (int i = 1; i <= Model.Count; i++)
    {
        if (Model[i - 1].IsChanged == false)
        {
            <code id="@("line" + i)" class="unchanged-line">@(Model[i - 1].Content)</code><br />
        }
        else
        {
            if (Model[i - 1].IsReviewed == false)
            {
                <code id="@("line" + i)" class="unapproved-line" onclick="selectLine(this)">@(Model[i - 1].Content)</code><br />
            }
            else
            {
                if (Model[i - 1].IsApproved == false)
                {
                    <code id="@("line" + i)" class="rejected-line">@(Model[i - 1].Content)</code><br />
                }
                else
                {
                    <code id="@("line" + i)" class="approved-line">@(Model[i - 1].Content)</code><br />
                }
            }
        }
    }
}



<script type="text/javascript">
    function selectLine(element) {
        element.className = "selected-line";
        element.setAttribute("onclick", "javascript:deselectLine(this)");
    }
    function deselectLine(element) {
        element.className = "unapproved-line";
        element.setAttribute("onclick", "javascript:selectLine(this)");
    }
    function submitChanges(lineApproval) {
        var ids = [];
        var selectedLines = document.getElementsByClassName("selected-line");
        for (i = 0; i < selectedLines.length; i++) {
            ids.push(selectedLines[i].id.substring(4));
        }

        var comment = document.getElementById("comment-text").value;

        var dict = {
            FileId: @(fileId),
            LineIds: ids,
            IsApproved: lineApproval,
            Comment: comment
        };

        $.ajax({
            type: "POST",
            url: "../File/Index",
            contentType: 'application/json',
            data: JSON.stringify(dict),
            success: function (data, textStatus, jQxhr) {
                window.location.reload(true)
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }

</script>

